<h1><%= @article.title %></h1>

<%= link_to image_tag(@article.url_to_image, size: 300), @article.url %>
<p><%= @article.description %></p>
<span>[<%= link_to 'Visit', @article.url %>][<%= @article.published_at.to_date.to_fs(:long) %>]</span>
